# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Mac OS X
.DS_Store
test-video.mp4

# files
video.mp4
examples/full-demo/backend/uploads/
examples/full-demo/backend/processed/
# .env